.container .movie {
  width: 20%;
  height: 600px;
  padding: 10px;
}

.container .movie .movie_inside {
  width: 100%;
  height: auto;
  background: #eee;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container .movie img {
  width: 100%;
}

.container .movie .movie_data {
  width: 100%;
}

.container .movie .movie_data ul {
  display: flex;
  flex-wrap: wrap;
  height: 50px;
}
.container .movie .movie_data li {
}

.container .movie .movie_summary {
  width: 100%;
  height: 100px;
}

/* text-overflow: ellipsis;
text-align: center;
white-space: nowrap; */
